

<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-focus ui-btn-up-c">
	<div class="ui-btn-inner ui-li">
		<div class="ui-btn-text">
			<a href="index.html" class="ui-link-inherit">
				<img src="images/album-p.jpg" class="ui-li-thumb"/>
				<h3 class="ui-li-heading">Wolfgang Amadeus Phoenix</h3>
				<p class="ui-li-desc">Phoenix</p>
			</a>
		</div>
		<span class="ui-icon ui-icon-arrow-r ui-icon-shadow"> </span>
	</div>
</li>