<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb ui-btn-up-c">
	<div class="ui-btn-inner ui-li ui-li-has-alt">
		<div class="ui-btn-text">
			<a class="ui-link-inherit">
				<img src="<%= thumb %>" class="ui-li-thumb"/>
				<h3 class="ui-li-heading"><%= name %></h3>
			</a>
		</div>
	</div>
	<a data-rel="popup" data-position-to="window" data-transition="pop" title="Use Image" class="ui-li-link-alt ui-btn ui-btn-up-c ui-btn-icon-notext" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="false" data-iconpos="notext" data-theme="c" aria-haspopup="true" aria-owns="#purchase">
		<span class="ui-btn-inner">
			<span class="ui-btn-text"/>
				<span data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-icon="check" data-iconpos="notext" data-theme="d" title="" class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all ui-btn-icon-notext">
					<span class="ui-btn-inner ui-btn-corner-all">
					<span class="ui-btn-text"/>
					<span class="ui-icon ui-icon-check ui-icon-shadow"> </span>
				</span>
			</span>
		</span>
	</a>
</li>